#dropdown-container {
  border: 2px black solid;
  background-color: pink;
  width: fit-content;
}

button {
  background-color: purple;
  border: dotted;
}
button:hover {
  background-color:pink;
}

.hide {
  display:none;
}

div > button {
  width: 100px;
}